@keyframes opacityincrease {
    0% { opacity: 0%; }
    100% { opacity: 100%; }
}

body{
    background-color: rgb(174, 174, 174);
    margin-top: 80px;

}

.navbar{
    display: flex;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    animation: opacityincrease 0.3s;
    width: 95vw;
    margin: auto;
    z-index: 200;
    left: 0;
    right: 0;
}



.navlinks {
    background-color: white;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    width: 7vw;
    min-width: fit-content;
    text-decoration: none;
    border-radius: 20px;
    margin: 1vw;
    border: 1px solid #d7d7d7; 
    
}

@media screen and (max-width: 450px){
    .navlinks{
        font-size: 12px;
    }

}

#active{
    background-color: rgb(60, 150, 240);
}
.navlinks:hover{
    background-color: rgb(188, 188, 188);
}
#active:hover{
    background-color: rgb(49, 134, 219);
}

.notyet{
    font-size: small;
    background-color: white;
    color: rgb(49, 134, 219);
}

.forms{
    padding: 25px 25px 10px 25px;
    box-sizing: border-box;
    overflow: hidden;
}

form label{
    font-size: small;
    color: black;
}

input[type="text"]{
    width: 100%;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    height: 35px;
    border: 1px solid #d7d7d7;
    box-sizing: border-box;
    font-size: 15px;
    background-color: white;
    color: #717171;
}

input[type="submit"], input[type="reset"]{
    border-radius: 20px;
    width: 100%;
    margin-bottom: 10px;
    padding: 14px 16px;
    border: 1px solid #d7d7d7;
    font-size: 15px;
    background-color: rgb(60, 150, 240);
    color: black;
}

input[type="submit"]:hover, input[type="reset"]:hover{
    background-color: rgb(49, 134, 219);
}

form{
    display: block;
    width: 300px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

#formbox{
    padding-top: 50px;
    padding-bottom: 50px;
}

.formname{
    margin-left: 33%;
    font-size: large;
    color: black;
}

::placeholder{
    font-size: small;
}

.stt {
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: rgb(60, 150, 240);
    box-shadow: 5px 5px gray;
    opacity: 0.9;
}

:root { 
    scroll-behavior: smooth;
}

footer{
    text-align: center;
    padding: 3px;
    background-color: rgb(52, 52, 52);
    color: white;
}

.contentContainer {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    margin: auto;
    width: 80vw;
    min-height: 100vh;
    min-width: 300px;
    background-color: #00ff26b9;
}

.productBox{
    width: 260px;
    height: 400px;
    background-color: #00c3ff;
    margin: 10px;
    transition: 0.3s;
    position: relative;
}

.productBox:hover{
    width: 280px;
    height: 420px;
    background-color: rgb(0, 247, 255);
    margin: 0px;
    transition: 0.3s;
}

.productBoxImage{
    width: 100%;
    background-color: rgb(217, 255, 0);
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.videoFrame{
    width: 50%;
    min-width: 400px;
    height: 30vw;
    min-height: 250px;
    margin-left: auto;
    
}

.videoFrame iframe{
    width: 100%;
    min-width: 300px;
    aspect-ratio: 1.7;
    
}

@media screen and (max-width: 600px){

    .videoFrame{
        min-width: 300px;
    }
}

a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.productName{
    text-align: center;
}

.productCost{
    float: left;
    width: 45%;
    height: 20px;
    padding-left: 10px;
    padding-top: 10px;
    text-align: left;
    
}

.productRating{
    float: right;
    width: 45%;
    height: 20px;
    padding-right: 10px;
    padding-top: 6px;
    text-align: right;
    
}

.kosarba{
    width: 100%;
    background-color: orange;
    clear: both;
    position: absolute;
    bottom: 0;
    height: 40px;
    display: block;
}

.kosarba div{
    padding: 10px;
    float: left;
}

.kosarba img{
    height: 40px;
    width: 40px;
    float: right;
    margin-right: 20px;
}

.attributeTable{
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    border: 2px solid #717171 ;
    border-collapse: collapse;
}

.attributeTable td, th{
    width: 100px;
    text-align: center;
    border: 2px solid #717171 ;
}