@keyframes opacityincrease {
    0% { opacity: 0%; }
    100% { opacity: 100%; }
}

body{
    background-color: rgb(174, 174, 174);
    margin-top: 80px;

}

.navbar{
    position: fixed;
    top: 0;
    animation: opacityincrease 0.3s;
    text-shadow: 8px;
    left: 23%;
}

.navlinks {
    background-color: white;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    width: 150px;
    text-decoration: none;
    border-radius: 20px;
    margin-left: 15px;
    border: 1px solid #d7d7d7; 
}

#active{
    background-color: rgb(60, 150, 240);
}
.navlinks:hover{
    background-color: rgb(188, 188, 188);
}
#active:hover{
    background-color: rgb(49, 134, 219);
}

.notyet{
    font-size: small;
    background-color: white;
    color: rgb(49, 134, 219);
}

.forms{
    padding: 25px 25px 10px 25px;
    box-sizing: border-box;
    overflow: hidden;
}

form label{
    font-size: small;
    color: black;
}

input[type="text"]{
    width: 100%;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    height: 35px;
    border: 1px solid #d7d7d7;
    box-sizing: border-box;
    font-size: 15px;
    background-color: white;
    color: #717171;
}

input[type="submit"], input[type="reset"]{
    border-radius: 20px;
    width: 100%;
    margin-bottom: 10px;
    padding: 14px 16px;
    border: 1px solid #d7d7d7;
    font-size: 15px;
    background-color: rgb(60, 150, 240);
    color: black;
}

input[type="submit"]:hover, input[type="reset"]:hover{
    background-color: rgb(49, 134, 219);
}

form{
    display: block;
    width: 300px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

#formbox{
    padding-top: 50px;
    padding-bottom: 50px;
}

.formname{
    margin-left: 33%;
    font-size: large;
    color: black;
}

::placeholder{
    font-size: small;
}

.stt {
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: rgb(60, 150, 240);
    box-shadow: gray;
    opacity: 0.9;
}

:root { 
    scroll-behavior: smooth;
}

footer{
    text-align: center;
    padding: 3px;
    background-color: rgb(52, 52, 52);
    color: white;
}